.mangaCard{
    width: 225px;
    position: relative;
    height: 350px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.mangaCard img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.mangaCard div{
    position: absolute;
    left: auto;
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    bottom: 0;
}
.mangaCard:hover div{
    font-weight: bold;
    text-decoration: underline;
}

.mangaCard:hover{
    cursor:pointer;
}
