.homePage{
    width: 100%;
    min-height: calc(100vh - 56px);
    background-color: rgb(240,240,240);
}

.row div{
    text-align: center;
}

.searchManga{
    margin: 20px;
    width: 100%;
    max-width: 70%;
    height: 50px;
    font-size: 20px;
    padding: 20px;
}